@import "./colors.less";

.toastify.info {
    padding: 17px 25px;
    font-size: 12px;
    font-family: "Segoe UI", Arial, "Malgun Gothic", Gulim, sans-serif;
    border-radius: 7px;

    background-color: #333;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(0, 0, 0, 0.3);
    max-width: calc(~'100vw - 30px');
    width: fit-content;
    box-sizing: border-box;

    &.black {
        background-color: #333;
        box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(0, 0, 0, 0.3);
        color: #FFF;
    }

    &.red {
        background: @red;
        box-shadow: 0 3px 6px -1px fade(@red, 12%), 
                    0 10px 20px -4px fade(@red, 30%);
        color: #FFF;
    }

    &.green {
        background: #3bab3f;
        box-shadow: 0 3px 6px -1px fade(#3bab3f, 12%), 
                    0 10px 20px -4px fade(#3bab3f, 30%);
        color: #FFF;
    }
}